<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/delhi">New Delhi</a></li>
          </ul>
        </div>
      <div class="row">
          <div class="col-md-12"><h2> <%= title %></h2></div>
      </div>
  
        <div class="row">
          <div class="col-md-12"></div>
        <div class="col-md-6" class="main">
            <img src="http://ehealth.eletsonline.com/wp-content/uploads/2016/04/indiagate.jpg" alt="City" class = "pageImage"> </a>
        </div>
        <div class="col-md-6" class="main">
            <img src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/5588/SITours/private-tour-day-trip-to-agra-from-delhi-including-taj-mahal-and-agra-in-delhi-149788.jpg" alt="City" class = "pageImage"> </a>
        </div>
        <div class="col-md-6" class="main">
            <img src="http://saharapackers.com/images/delhi.jpg" alt="City" class = "pageImage"> </a>
        </div>
        <div class="col-md-6" class="main">
            <img src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/5679/SITours/2-day-amritsar-and-golden-temple-tour-from-delhi-in-delhi-140692.jpg" alt="City" class = "pageImage"> </a>
        </div>
        <div class="col-md-2"></div>
    </div>
  </body>
</html>
