<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/delhi">New Delhi</a></li>
          </ul>
        </div>
          
      </div>
      <div class="row">
          <div class="col-md-12"><h2> Every city has some great places.</h2></div>
      </div>
  
        <div class="row">
          <div class="col-md-12">
            
          </div>
        <div class="col-md-10" class="main">
        
            <img src="../images/main.jpg" alt="City" class = "mainImage"> </a>
        
        </div>
        <div class="col-md-2"></div>
    </div>
  </body>
</html>
